<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop - Customers</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    {%load static %}
    <script src="{% static 'customers.js' %}"></script>
</head>
<body>
    <!-- No of new customers per month and total nuber of customers per month><!-->
    <canvas id="customerDevelopment" width="100" height="30vh">
        <script>showCustomersChart({{ graphData.noOfNewCustomersPerMonth|safe }},
            {{ graphData.noOfCustomersPerMonth|safe }}, {{ graphData.months|safe }});</script>
    </canvas>

    <div>{{ percentageOfCustomersWithMinOrder|safe }}% of customers have ordered at least once</div>
    <div>The remaining {{ percentageOfCustomersWithNoOrder|safe }}% have not ordered anything yet</div>
</body>
</html>