<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online-Shop: Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300" rel="stylesheet">
    {%load static %}
    <script src="{% static 'customers.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'main.css' %}">
</head>
<body>
    <h1>Welcome to your Online Shop Dashboard</h1>
    <a href="/customers">
        <div class="container flex" onclick="">
                <h2>Customers</h2>
        </div>
    </a>
    <a href="/products">
            <div class="container flex" onclick="">
                    <h2>Products</h2>
            </div>
    </a>
    <a href="/orders">
            <div class="container flex" onclick="">
                    <h2>Orders</h2>
            </div>
    </a>
    <a href="/warehouses">
            <div class="container flex" onclick="">
                    <h2>Warehouses</h2>
            </div>
    </a>
    <footer>Made with passion by: Ilja Kalistratov & Frederik Esau</footer>
</body>
</html>