<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop - Orders</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300" rel="stylesheet">
    {%load static %}
    <script src="{% static 'orders.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'main.css' %}">
</head>
<body>
    <div class="container flex">
        <div>
            <h2 class="containerHeading">All Orders</h2>
            <table id="allOrders" class="table">
                <script>allOrdersList({{ allOrders|safe }})</script>
            </table>
        </div>
    </div>
</body>
</html>