<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop - Products</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    {%load static %}
    <script src="{% static 'products.js' %}"></script>
</head>
<body>
    <div id="totalRevenue">Total revenue: {{ graphData.totalRevenue|safe }}$</div>
    <canvas id="revenuePerCategory" width="800">
        <script>showRevenueChart({{ graphData.productCategories|safe }},
            {{ graphData.revenues|safe }});</script>
    </canvas>
</body>
</html>