<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop - Warehouses</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300" rel="stylesheet">
    {%load static %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14"></script>
    <script src="{% static 'warehouses.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'main.css' %}">
</head>
<body>
    <h1>Warehouses</h1>
    <div class="buttonContainer">
        <a href="home" class="navLink">Home</a>
        <a href="customers" class="navLink">Customers</a>
        <a href="products" class="navLink">Products</a>
        <a href="orders" class="navLink">Orders</a>
        <button class="btn" onclick="print();">Print Page</button>
    </div>

    <div class="container flex">
        <div>
            <h2 class="containerHeading">All Warehouses</h2>
            <table id="allWarehouses" class="table clickableTable">
                <script>allWarehousesList({{ allWarehouses|safe }}, {{ warehouseProducts|safe }})</script>
            </table>
        </div>
    </div>
</body>
</html>